@media only screen and (min-width: 1024px){


  h2 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    font-weight: 700;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    text-align: left;

  }

  .links {
    padding-left: 1em;
    padding-top: 0em;
  }

  .linktext {
    background-color: white;
    position: relative;
    border: 1px solid #1884AA;
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    color: black;
    margin-right: 1.5em;
    margin-bottom: 0.5em;
  }

.linktext:hover {
  background-color: #1884AA;
  color: white;
}

.cls-1 {
  stroke-miterlimit: 10;
  stroke-width: 0.7px;
}

  .arrow {
    position: absolute;
    transform: translateY(-50%);
    left: 90%;
    top: 50%;
    width: 1.5em;
    height: 1.5em;
  }

  #insta {
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 50%;
    height: 50%;
    width: 60%;
    background-color: white;
    border: 1px solid #1884AA;
  }

  #insta > .linktext > .arrow {
    fill: #fff;
    stroke: #1884AA;
  }

  #insta > .linktext:hover > .arrow {
    fill: #1884AA;
      stroke: #fff;
  }

  #games {
    display: inline-block;
    position: absolute;
    top: -30%;
    left: 10%;
    height: 150%;
    width: 120%;
    background-color: white;
    border: 1px solid #EA382A;
  }


  #games > .linktext > .arrow {
    fill: #fff;
    stroke: #EA382A;
    left: 95%;
  }


  #games > .linktext:hover > .arrow {
    fill: #EA382A;
    stroke: #fff;
  }

  #games > .linktext {
    border: 1px solid #EA382A;
  }

  #games > .linktext:hover {
    background-color: #EA382A;
    color: white;
  }

  #projects {
    display: inline-block;
    position: absolute;
    top: 45%;
    left: 37.5%;
    height: 20%;
    width: 50%;
  }

  #projects > .linktext {
    border: 1px solid #fff;
    background-color: black;
    padding-left: 0.5em;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    color: white;
    cursor: pointer;
  }

  #projects > .linktext > a {
    color: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    font-weight: 700;
  }

  #projects > .linktext:hover {
    background-color: #fff;
    color: black;
  }

  #projects > .linktext > .arrow {
    fill: black;
    stroke: #fff;
    left: 95%;
  }

  #projects > .linktext:hover > .arrow {
    fill: #fff;
    stroke: black;
  }

  #projects > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    text-align: left;
    color: white;
  }

  #prova {
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    height: 50%;
    width: 100%;
  }

.links:not(:hover) {
  opacity: 0;
  transition: 0.3s;
}

#g-d-wrapper:hover > #projects {
  opacity: 1;
}

  #wrapper-1 {
    position: fixed;
    top: 0;
    left: 0%;
    height: 100vh;
    width: 100%;

  }

  #hi {
    display: none;
    position: fixed;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 60%;
    background-image: url("./img/hi.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #im {
    display: none;
    position: fixed;
    top: 15%;
    left: 30%;
    width: 10%;
    height: 25%;
    background-image: url("./img/im.svg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #nome {
    display: none;
    position: fixed;
    top: 42%;
    left: 27%;
    width: 45%;
    height: 25%;
    background-image: url("./img/nome.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  #g-d-wrapper {
    display: none;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    width: 42%;
    height: 100vh;
  }

  #g-d {
    position: absolute;
    top: 70%;
    left: 5%;
    width: 30%;
    height: 10%;
    background-image: url("./img/g-d.svg");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  #frecciaA {
    display: none;
  }

 .freccia {
    position: absolute;
    bottom: 20%;
    right: 10%;
    width: 12%;
    height: 3%;
    transform: translateY(-5px);
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 1px;
    cursor: pointer;
  }

  #frecciaB {
    /*top: 77%;*/
    bottom: 10%;
    left: 5%;
    width: 5.04%;
    height: 3%;
    transform: translateY(0px) scaleX(-1);
  }

   .freccia:hover {
      stroke: #EA382A;
  }

  #n-l {
    display: none;
    border: 1px solid black;
    position: absolute;
    top: 75%;
    left: 90%;
    width: 400%;
    height: 100%;
    background-image: url("./img/n-l2.png");
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-100%, -100%);
    cursor: pointer;
  }

  #c-e {
    display: none;
    position: fixed;
    bottom: 5%;
    left: 49%;
    width: 20%;
    height: 10%;
    background-image: url("./img/c-e.svg");
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  #wrapper3, #wrapper4, #wrapper5 {
    display: none;
  }

}
