@media only screen and (max-width: 1024px) {

  .freccia {
      display: none;
      opacity: 0;
  }

  .wrapper {
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100%;
  }

  #wrapper3 {
    top: 150vh;
  }

  #wrapper4 {
    top: 250vh;
  }

  #wrapper5 {
    top: 350vh;
  }

  #wrapper-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
  }

  .linksM {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    padding-bottom: 0.7em;
    padding-left: 1em;
    padding-top: 0em;
  }

  .linktextM {
    background-color: black;
    position: relative;
    border: 1px solid #1884AA;
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    color: white;
    margin-right: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
  }

  #projectsM {
    top: 60%;
    height: 30%;
  }

  #projectsM > .linktextM {
    border: 1px solid #fff;
    background-color: black;
    padding-left: 0.5em;
    display: inline-block;
    padding-right: 0.8em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    color: white;
  }

  #projectsM > .linktextM > a {
    color: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    font-weight: 700;
  }

  #projectsM > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    text-align: left;
    color: white;
  }

  #projectsM > .linktextM > .arrowM {
    position: absolute;
    fill: black;
    stroke: #fff;
    transform: translateY(-0.2em);
    margin-left: 0.4em;
  }

  #gamesM {
    top: 50%;
    width: 70%;
    border: 1px solid #EA382A;
    display: inline-block;
  }

  #gamesM > .linktextM > .arrowM {
    position: absolute;
    fill: black;
    stroke: #EA382A;
    transform: translateY(-0.2em);
    left: 95%;
  }
  #gamesM > .linktextM {
    border: 1px solid #EA382A;
  }

  .linksM > h2 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    font-weight: 700;
  }

  .linktextM > a {
    color: inherit;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    text-align: left;
  }

  #instaM {
    top: 50%;
    width: 70%;
    border: 1px solid #1884AA;
    display: inline-block;
  }

  #instaM > .linktextM > .arrowM {
    fill: black;
    stroke: #1884AA;
    position: absolute;
    transform: translateY(-0.2em);
    margin-left: 0.5em;
  }


  #hi {
    display: none;
    position: absolute;
    top: 30vh;
    left: 0%;
    width: 100%;
    height: 40%;
    background-image: url("./img/hi.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #im {
    display: none;
    position: absolute;
    top: 20vh;
    left: 10%;
    width: 30%;
    height: 20%;
    background-image: url("./img/im.svg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 90;
  }

  #nome {
    display: none;
    position: absolute;
    top: 40%;
    left: 2.5%;
    width: 90%;
    height: 18%;
    background-image: url("./img/nome-mobile.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 99;
  }

  #g-d-wrapper {
    display: none;
    background-color: black;
    position: fixed;
    top: 10%;
    right: 0;
    width: 55%;
    height: 75%;
  }

  #simulator {
    display: none;
    transform-origin: left center;
    background-color: black;
    position: fixed;
    top: 10%;
    right: 0;
    width: 55%;
    height: 75%;
    z-index: 0;
  }

  #g-d {
    position: absolute;
    top: 67%;
    left: 8%;
    width: 50%;
    height: 10%;
    background-image: url("./img/g-d.svg");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #n-l {
    display: none;
    border: 1px solid black;
    position: absolute;
    top: 25%;
    left: -33.3%;
    width: 200%;
    height: 100%;
    background-image: url("./img/n-l-mobile.png");
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-2px);
  }

  #c-e {
    display: none;
    position: absolute;
    bottom: 20%;
    right: 15%;
    width: 50%;
    height: 5vh;
    background-image: url("./img/c-e-mobile.svg");
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #lineaM {
    border-bottom: 1px solid white;
    width: 70%;
    left: 15%;
    bottom: 5%;
    position: absolute;
  }

  #wrapper-2 {
    display: none;
  }
}
