@media only screen and (min-width: 768px) {

  #wrapper-2 {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100vh;
    width: 100%;
    background-color: black;
  }

  #lifeline {
    position: absolute;
    top: 10%;
    left: 15%;
    height: 80%;
    width: 86%;
    display: none;
  }

  .line {
    border-left: 1px solid white;
    height: 97%;
    position: absolute;
    bottom: 0;
    z-index: 0;
  }

  #l22, #l0, #l5, #l10, #l16 {
      height: 100%;
  }

  #lifeline > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.9vh;
    font-weight: 400;
    text-align: left;
    color: white;
    top: 0;
    transform: translateY(-100%);
    padding-left: 0.3em;
    position: absolute;
  }

  #wrapper-2 > .linktext {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.9vh;
    font-weight: 400;
    text-align: left;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    outline: 1px solid white;
  }

  .container {
    position: relative;
    left: 0;
    top: 4%;
    z-index: 99;
  }

  .quad, .quad0 {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.9vh;
    font-weight: 400;
    text-align: left;
    color: white;
    height: 3.7vh;
    line-height: 3.5vh;
    margin-bottom: 1vh;
    padding-left: 1.2vh;
    width: 0;

  }

  .quad0 {
    cursor: pointer;
    outline: 1px solid black;
    padding-right: 1.2vh;
  }

  #ed > .quad {
    background-color:  #1884AA;
    top: -4.7vh;
    opacity: 0;
  }

  #lang > .quad {
    color: black;
    background-color: white;
    top: calc(-4.7*2vh);;
opacity: 0;
  }

  #sport > .quad {
    background-color: #EA382A;
    top: calc(-4.7*3vh);
  opacity: 0;
  }

  #art > .quad {
    background-color: black;
    outline: 1px solid white;
    top: calc(-4.7*4vh);
opacity: 0;
  }

  #ed0 {
    position: relative;
    transform: translate(-100%);
    transform-origin: right center;
    display: inline-block;
    top: 0 !important;
    width: max-content;
    background-color: black !important;
    right: 2%;
    opacity: 0;
  }

  #ed0.yes {
    outline: 1px solid #1884AA;
  }

  #ed1 {
    width: calc(100/56*13%);
  }

  #ed2 {
    opacity: 0;
    width: calc(100/56*14%);
    left: calc(100/56*14%);
  }

  #ed3 {
    width: calc(100/56*7%);
    left: calc(100/56*29%);
  }

  #ed4 {
    width: calc(100/56*10%);
    left: calc(100/56*37%);
  }

  #lang0 {
    position: relative;
    transform-origin: right center;
    transform: translate(-100%);
    display: inline-block;
    top: -4.7vh !important;
    width: max-content;
    background-color: black !important;
    right: 2%;
    color: white !important;
    opacity: 0;
  }

  #lang0.yes {
    outline: 1px solid white;
  }


  #lang1 {
    width: calc(100/56*22%);
    left: calc(100/56*14%);
  }

  #lang2 {
    width: calc(100/56*33%);
    left: calc(100/56*14%);
  }

  #lang3 {
    width: calc(100/56*6%);
    left: calc(100/56*2%);
  }

  #sport0 {
    position: relative;
    transform-origin: right center;
      transform: translate(-100%);
    display: inline-block;
    top: calc(-4.7*2vh) !important;
    width: max-content;
    background-color: black !important;
    right: 2%;
    opacity: 0;
  }

  #sport0.yes {
    outline: 1px solid  #EA382A;
  }

  #sport1 {
    width: calc(100/56*42%);
  }

  #sport2 {
    width: calc(100/56*28%);
  }

  #sport3 {
    width: calc(100/56*52%);
  }

  #art0 {
    position: relative;
    transform-origin: right center;
      transform: translate(-100%);
    display: inline-block;
    top: calc(-4.7*3vh) !important;
    width: max-content;
    background-color: black !important;
    right: 2%;
    opacity: 0;
  }

  #art0.yes {
    outline: 1px solid white;
  }

  #art1 {
    width: calc(100/56*18%);
    left: calc(100/56*26%);
  }

  #art2 {
    width: calc(100/56*14%);
    left: calc(100/56*11%);
  }

  #art3 {
    width: calc(100/56*17%);
    left: calc(100/56*14%);
  }

  #art4 {
    width: calc(100/56*11%);
    left: calc(100/56*4%);
  }

}
